*.jar
!/gradle/wrapper/gradle-wrapper.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
build/
*.iml
*.ipr
*.iws
.gradle/
.settings/
.classpath
.project
.metadata/
.idea/
logs/
dev.properties
dependency-reduced-pom.xml
*.rdb
*.orig